:root {
    --text-dark: #171717;
    --text-light: #525252;
    --extra-light: #a3a3a3;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
}

.about {
    &__container {
        .section__description {
            max-width: 900px;
            margin-inline: auto;
            margin-bottom: 2rem;
        }

        img {
            display: block;
            max-width: 170px;
            margin-inline: auto;
        }
    }
}
